<%- include('./partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/mypassport.css" />
<%- include('./partials/header-post-link') %>

<main class="welcome fadein" id="user-home">
  <h1>Welcome, <%= user.firstName %>!</h1>

  <div id="passport">
    
    <section>
      <img src="<%= user.avatar %>" alt="">
      <p class="passport-label">Cruiser Full Name</p>
      <p><%= user.name %></p>
      <p class="passport-label">Captain's Log Member Since</p> 
      <p><%= user.createdAt.toLocaleDateString('en-us', { timeZone: "UTC", weekday:"short", year:"numeric", month:"short", day:"numeric"}) %></p>
      <p class="passport-label">Captain's Log Member Status</p>
      <p><%= memberStatus %></p>
    </section>

    <footer>
        <p class="passport-label">Total Cruises
        <p><%= userCruises.length %></p>

        <p class="passport-label">Cruise Lines</p>

        <p class="passport-label">Cruise Ships</p>

        <p class="passport-label">Total Days Sailed</p>

        <p class="passport-label">Locations Traveled</p>
    </footer>
    
  </div>
</main>

<%- include('./partials/footer') %>