<%- include('./partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/mypassport.css" />
<%- include('./partials/header-post-link') %>

<main class="welcome fadein" id="user-home">
  <h1><%= user.firstName %>'s Passport</h1>

  <div id="passport">
    
    <section>
      <img src="<%= user.avatar %>" alt="profile photo">
      <p class="passport-label">Cruiser Full Name</p>
      <p><%= user.name %></p>

      <p class="passport-label">Captain's Log Member Since</p> 
      <p><%= user.createdAt.toLocaleDateString('en-us', { timeZone: "UTC", weekday:"short", year:"numeric", month:"short", day:"numeric"}) %></p>

      <p class="passport-label">Captain's Log Member Status</p>
      <p><%= memberStatus %></p>

      <p class="passport-label">Total Cruises
      <p><%= userCruises.length %></p>
    </section>

    <footer>       
        <p class="passport-label">Cruise Lines</p>
        <% if (!cruiseTallyString) { %>
          <p>No cruises sailed yet</p>
        <% } else { %>
          <p><%= cruiseTallyString %></p>
        <% }; %>

        <p class="passport-label">Cruise Ships</p>
        <% if (cruiseBoatTally.length === 0) { %>
          <p>No cruises sailed yet</p>
        <% } else { %>
          <% cruiseBoatTally.forEach(boat => { %>
            <p><%= boat %></p>
          <% }) %>
        <% } %>

        <p class="passport-label">Total Days Sailed</p>
        <p><%= dayTally %> days</p>

        <p class="passport-label">Locations Traveled</p>
        <% if (cruiseItineraryTally.length === 0) { %>
          <p>No cruises sailed yet</p>
        <% } else { %>
          <% cruiseItineraryTally.forEach(i => { %>
            <p><%= i %></p>
          <% }) %>
        <% } %>
    </footer>
    
  </div>
</main>

<%- include('./partials/footer') %>