<%- include('../partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/cruises/newcruise.css" />
<%- include('../partials/header-post-link') %>


<form class="fadein" id="new-cruise-form" action="/cruises/<%= cruise._id %>/?_method=PUT" method="POST">
    <h1>Edit: <%= cruise.title %></h1>
    <label>Cruise Title:</label>
    <input type="text" name="title" maxlength="30" value="<%= cruise.title %>" />

    <label>Number of Days:</label>
    <input type="number" name="numDays" value="<%= cruise.numDays %>">

    <label>Cruise Line:</label>
    <select name="cruiseLine">
        <option value="Disney" <%= cruise.cruiseLine === 'Disney' ? 'selected' : '' %>>Disney</option>
        <option value="Princess" <%= cruise.cruiseLine === 'Princess' ? 'selected' : '' %>>Princess</option>
        <option value="Royal Caribbean" <%= cruise.cruiseLine === 'Royal Caribbean' ? 'selected' : '' %>>Royal Caribbean</option>
        <option value="Carnival" <%= cruise.cruiseLine === 'Carnival' ? 'selected' : '' %>>Carnival</option>
        <option value="Celebrity" <%= cruise.cruiseLine === 'Celebrity' ? 'selected' : '' %>>Celebrity</option>
    </select>
    
    <label>Cruise Boat:</label>
    <input type="text" name="cruiseBoat" value="<%= cruise.cruiseBoat %>">

    <label>Embarkation Date:</label>
    <input type="date" name="startDate" value="<%= `${cruise.startDate.getFullYear()}-${String(cruise.startDate.getMonth()).padStart(2, '0')}-${String(cruise.startDate.getDay()).padStart(2, '0')}` %>">

    <label>Disembarkation Date:</label>
    <input type="date" name="endDate" value="<%= `${cruise.endDate.getFullYear()}-${String(cruise.endDate.getMonth()).padStart(2, '0')}-${String(cruise.endDate.getDay()).padStart(2, '0')}` %>">

    <label>Itinerary:</label>
    <input type="text" name="itinerary" maxlength="50" value="<%= cruise.itinerary %>">

    <label>Notes About This Cruise:</label>
    <textarea name="notes" rows="4" cols="50"><%= cruise.notes %></textarea>

    <div id="button-holder">
        <input type="submit" value="Update Cruise">
        <input type="reset" value="Clear Form">
    </div>
</form>

<%- include('../partials/footer') %>