<%- include('../partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/cruises/cruise-deets.css" />
<%- include('../partials/header-post-link') %>

<h1 class="fadein">Cruise Details</h1>

<main class="fadein">
  <aside>
    <div id="edit-delete-icons">
 
      <a href="/cruises/<%= cruise._id %>/edit" class="modify-icons" id="edit"></a>
      <form action="/cruises/<%= cruise._id %>/?_method=DELETE" method="POST">
        <button class="modify-icons" id="delete" type="submit"></button>
      </form>
    </div>

    <img class="tape tape1" src="https://i.imgur.com/KiS8n2G.png" alt="tape">
    <h2><%= cruise.title %></h2>
    <p id="desc"><%= cruise.numDays %>-day trip to <%= cruise.itinerary %></p>
    <div>
      <p><span>Ship:</span> <%= cruise.cruiseBoat %></p>
      <p><span>Cruise Line:</span> <%= cruise.cruiseLine %> Cruise Line</p>
      <p><span>Embarks:</span> <%= cruise.startDate.toLocaleDateString('en-us', { weekday:"short", year:"numeric", month:"short", day:"numeric"}) %></p>
      <p><span>Debarks:</span> <%= cruise.endDate.toLocaleDateString('en-us', { weekday:"short", year:"numeric", month:"short", day:"numeric"}) %></p>
      <p><span>Notes:</span> <%= cruise.notes %></p>
      <p><span>Logs:</span> <%= cruise.logs.length %></p>
      <img class="tape tape2" src="https://i.imgur.com/KiS8n2G.png" alt="tape">
    </div>
  </aside>

  <section>
    <h2>Logs</h2>
    <a id="add-log" href="#"><div>+</div></a>
    <div id="logs-grid"></div>
  </section>

</main>


<%- include('../partials/footer') %>